/* Stylesheet for "goCharting", repo: https://github.com/Mervodactyl/goCharting */

/*=== !!!!IMPORTANT!!!! ===*/
/*=== Individual Chart styling specifications are located within the JS file for specified chart, under 'var options' ===*/

/*=== CSS ===*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  background-color: #E3F4FA;
}

h1 {
  text-align: center;
  color: #F2F2F2;
  background-color: #A7D8E8;
}

table, th, tr, td {
  border: 2px solid #F2F2F2;
}

table {
  margin: 0 auto;
}

.chart {
}
